@import url('normalize.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td, th{
    padding: 12px;
    border: 1px solid #ddd;
}

tr:hover{
    background-color: #e3e3e3;
}

tr:nth-child(even){ /* even = pares, odd= impares ou 2n, 3n*/
    background-color: #e3e3e3;
}

th{
    padding: 16px;
    background-color: rgb(0, 139, 139);
    color: white;
}



