@import url('normalize.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table{
    border-collapse: collapse;
    width: 550px;
    margin: 20px auto;
    text-align: center;
    font-size: 0.9em;
}

h1{
    margin-bottom: 2px;
    font-size: 1.9em;
}

td{
    border: 1px solid black;
    height: 20px;
    width: 16.66%;
}

tr.larga{
    height: 30px;
}

tr.bold{
    font-weight: bold;
}